<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
import json
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.0.1

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [2]:
password = '########.'
database = 'test_db'
client = MongoClient('mongodb+srv://darrylrusli:'+password+'@cluster0.nhbud.mongodb.net/'+database+'?retryWrites=true&w=majority')

In [3]:
db = client.test_db
collection = db.people
collection.drop()

Create a new database:

In [4]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [5]:
print(client.list_database_names())

['sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

- check for the database by name:

In [6]:
db_list = client.list_database_names()
if 'mydatabase' in db_list:
    print('The database exists')

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [7]:
mycol = mydb['customers']

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [8]:
mydict = {'name' : 'john', 'address': 'Highway 37'}
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [9]:
print(client.list_database_names())

['mydatabase', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

List all collections in the database:

In [10]:
db_list = client.list_database_names()
if 'mydatabase' in db_list:
    print('The database exists')

The database exists

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [11]:
mydict = {'name' : 'Peter', 'address' : 'Lowstreet 27'}
x = mycol.insert_one(mydict)

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [12]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [13]:
x = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [14]:
print(x.inserted_ids)

[ObjectId('61e2a4166f0c9738ee5e2680'), ObjectId('61e2a4166f0c9738ee5e2681'), ObjectId('61e2a4166f0c9738ee5e2682'), ObjectId('61e2a4166f0c9738ee5e2683'), ObjectId('61e2a4166f0c9738ee5e2684'), ObjectId('61e2a4166f0c9738ee5e2685'), ObjectId('61e2a4166f0c9738ee5e2686'), ObjectId('61e2a4166f0c9738ee5e2687'), ObjectId('61e2a4166f0c9738ee5e2688'), ObjectId('61e2a4166f0c9738ee5e2689'), ObjectId('61e2a4166f0c9738ee5e268a'), ObjectId('61e2a4166f0c9738ee5e268b')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [15]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2681'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2684'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2686'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2688'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2689'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now try inserting a new dict with an existing `_id`:

In [17]:
# x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [18]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [19]:
x = mycol.find_one({'name' : 'Hannah'})
print(x)

{'_id': ObjectId('61e2a4166f0c9738ee5e2681'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [20]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2681'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2684'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2686'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2688'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2689'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [21]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'john', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [22]:
for x in mycol.find({}, {'_id' : 1, 'name' : 1}):
    print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2681'), 'name': 'Hannah'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2684'), 'name': 'Betty'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2686'), 'name': 'Susan'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2688'), 'name': 'Ben'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2689'), 'name': 'William'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268a'), 'name': 'Chuck'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [23]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [24]:
myquery = {'address' : {'$gte' : 'S'}}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [25]:
myquery = {'address' : {'$regex' : '^S'}}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [26]:
mydoc = mycol.find().sort('name')
for x in mydoc :
    print(x)

{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2688'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2684'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2681'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2686'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2689'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

A single record can be deleted by specifying some criterion:

In [27]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [28]:
mycol.delete_many({'_id' : {'$lt' : 15}})
for x in mycol.find():
    print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2684'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2686'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2688'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2689'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [29]:
myquery = {'address' : 'Valley 345'}
newvalues = {'$set' : {'address' : 'Canyon 123'}}
mycol.update_one(myquery, newvalues)
for x in mycol.find():
    print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2684'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2685'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2686'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2687'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2688'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2689'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61e2a4166f0c9738ee5e268b'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
for x in mycol.find({'address' : 'Canyon 123'}):
    print(x)

{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Canyon 123'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [31]:
myresult = mycol.find().limit(5)
for x in myresult:
    print(x)

{'_id': ObjectId('61e2a4146f0c9738ee5e267e'), 'name': 'john', 'address': 'Highway 37'}
{'_id': ObjectId('61e2a4156f0c9738ee5e267f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2680'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2682'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('61e2a4166f0c9738ee5e2683'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [39]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [40]:
db = client.test
# Drop the collection in case it was previously created:
collection = db.people
collection.drop()

In [41]:
command = "C:/Users/darry/OneDrive/Documents/mongodb-database-tools-windows-x86_64-100.5.1/bin"
os.chdir(command)

In [42]:
pwd()

'C:\\Users\\darry\\OneDrive\\Documents\\mongodb-database-tools-windows-x86_64-100.5.1\\bin'

In [43]:


# subprocess.check_output(
#     "mongoimport --db test --collection people --drop --file C:/Users/darry/Downloads/dummyData.json", 
#     stderr=subprocess.STDOUT,
#     shell=True)
password = '######'
database = 'test'
username = 'darrylrusli'
file = '/Users/darry/OneDrive/Desktop/Institute_of_Data/DATA/dummyData.json'
command = 'mongoimport --uri="mongodb+srv://darrylrusli:'+password+'@cluster0.nhbud.mongodb.net/'+database+'" -c=people --file="/Users/darry/OneDrive/Desktop/Institute_of_Data/DATA/dummyData.json"'
os.system(command)

0

In [44]:
pwd()

'C:\\Users\\darry\\OneDrive\\Documents\\mongodb-database-tools-windows-x86_64-100.5.1\\bin'

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [45]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [46]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,61e2a5cb6f0bb774867dccc3,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,61e2a5cb6f0bb774867dccea,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,61e2a5cb6f0bb774867dccf2,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,61e2a5cb6f0bb774867dcd00,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [47]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [48]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version 0.12.1.post1

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>



---



---



> > > > > > > > > © 2021 Institute of Data


---



---