<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 4.1.2 Linear Regression

## Prediction of House Price Using Linear Regression

### Data

The Sacramento real estate transactions file is a list of 985 real estate transactions in the Sacramento area reported over a five-day period, as reported by the Sacramento Bee.

In [31]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
%matplotlib inline

In [2]:
import sklearn
sklearn.__version__

'0.24.1'

### 1. Explore Data

Perform EDA on this dataset. Find Dependent and Independent Variables to predict house price.

In [3]:
# Read CSV
house_csv = "../DATA/Sacramento_transactions.csv"
df = pd.read_csv(house_csv)
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [4]:
df.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

### 2. Predict Price

We are going to predict `price` from available information.

#### 2.1 What is the Target Variable? Why?

In [5]:
# ANSWER
df['price']

0       59222
1       68212
2       68880
3       69307
4       81900
        ...
980    232425
981    234000
982    235000
983    235301
984    235738
Name: price, Length: 985, dtype: int64

#### 2.2 List all possible variables which might be Independent/Predictor variable.

In [6]:
# ANSWER
df[['beds', 'baths', 'sq__ft']]

     beds  baths  sq__ft
0       2      1     836
1       3      1    1167
2       2      1     796
3       2      1     852
4       2      1     797
..    ...    ...     ...
980     4      3    2280
981     3      2    1477
982     3      2    1216
983     4      2    1685
984     3      2    1362

[985 rows x 3 columns]

#### 2.3 Find correlation between variables

Find correlation between variables. Which is the best predictor? Why? State your reason.

In [7]:
# ANSWER
df[['sq__ft']]

     sq__ft
0       836
1      1167
2       796
3       852
4       797
..      ...
980    2280
981    1477
982    1216
983    1685
984    1362

[985 rows x 1 columns]

In [8]:
df.corr()

,zip,beds,baths,sq__ft,price,latitude,longitude
zip,1.000000,0.125319,0.069165,0.130108,-0.093353,-0.290389,-0.539904
beds,0.125319,1.000000,0.839650,0.684041,0.342024,-0.291307,-0.053993
baths,0.069165,0.839650,1.000000,0.665690,0.416208,-0.235792,0.016582
sq__ft,0.130108,0.684041,0.665690,1.000000,0.333897,-0.383274,-0.177742
price,-0.093353,0.342024,0.416208,0.333897,1.000000,-0.039573,0.284485
latitude,-0.290389,-0.291307,-0.235792,-0.383274,-0.039573,1.000000,0.387925
longitude,-0.539904,-0.053993,0.016582,-0.177742,0.284485,0.387925,1.000000

#### 2.4 Find Coefficient and Intercept using Linear Regression

Using LinearRegression of sklearn.linear_model package find Coefficient and Intercept.

Create an instance of LinearRegression.

Explore following methods:

- fit
- predict
- score

In [9]:
from sklearn.linear_model import LinearRegression

##### 2.4.1 Fit predictor and target variables using linear regression

In [10]:
# ANSWER

X = df['sq__ft'].values.reshape(-1,1)
y = df['price']
reg = LinearRegression()
reg.fit(X, y)

LinearRegression()

In [11]:
reg.score(X, y)

0.11148717682951437

##### 2.4.2 Find R Score

Find $R^2$ Using ```score``` method of Linear Regression.

In [12]:
# ANSWER
reg.score(X, y)

0.11148717682951437

### 3. Splitting Data

In [13]:
from sklearn.model_selection import train_test_split

#### 3.1 Create training and testing subsets

Hint: Using `train_test_split` Library.

```
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
```

In [14]:
# ANSWER
## Create training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

#### 3.2 Check Shape, Sample of Test Train Data

In [15]:
# ANSWER
## Check training/test data
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(659, 1) (326, 1)
(659,) (326,)

#### 3.3 Using Linear Regression Find The Score

1. Fit model using X_train, y_train
2. Find score using X_test, y_test

In [16]:
# ANSWER
reg.score(X_train, y_train)

0.08287181142759725

In [17]:
# ANSWER
reg.score(X_test, y_test)

0.14972235246895294

### 4. Predict House Price

Let's assume we have information of following house:

- street:	1140 EDMONTON DR
- city:	SACRAMENTO
- zip:	95833
- state:	CA
- beds:	3
- baths:	2
- sq__ft:	1204
- type:	Residential

**Predict the price of this house using linear regression model.**

In [19]:
# ANSWER
reg.predict(X[930].reshape(-1,1))

array([228137.16359199])

#### Find the error

In [29]:
# Predict price from X_test
price_predict = reg.predict(X_test)
price_predict[:10]

array([211997.88896481, 291936.04114508, 269189.4124759 , 257112.03582535,
       245630.40421138, 162930.161407  , 162930.161407  , 265831.57681521,
       162930.161407  , 162930.161407  ])

In [33]:
mean_squared_error(y_test, price_predict, squared = True)

18651237155.806335



---



---



> > > > > > > > > © 2021 Institute of Data


---



---